/* src/components/TeamMember.css */
@keyframes burning {
    0% {
        box-shadow: 0 0 10px rgba(253, 0, 0, 0.8), 0 0 20px rgba(94, 117, 239, 0.8), 0 0 30px rgba(255, 204, 0, 0.8);
    }
    50% {
        box-shadow: 0 0 20px rgb(183, 0, 255), 0 0 30px rgb(0, 40, 255), 0 0 40px rgb(255, 0, 38);
    }
    100% {
        box-shadow: 0 0 10px rgba(128, 0, 248, 0.8), 0 0 20px rgba(0, 247, 255, 0.8), 0 0 30px rgba(0, 45, 239, 0.8);
    }
}

.burning-avatar {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
}

.burning-avatar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: burning 2s infinite;
    z-index: 1;
}

.burning-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}
/* src/components/TeamMember.css */
.team-member:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
/* src/components/Team.css */
.team-member {
    font-family: 'Bungee Spice', cursive;
    /* Other styles for team members */
}

